@import './base.css';
@import "tailwindcss";

body {
  display: block;
  overflow: hidden;
  user-select: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  min-height: 100vh;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.titlebar {
  -webkit-app-region: drag;
}

.no-drag{
  -webkit-app-region: no-drag;
}

@layer components {
  .btn {
    @apply p-3 z-0 bg-neutral-900 outline-neutral-700 hover:bg-neutral-800 active:bg-neutral-600 text-center outline-1 transition-colors duration-200 ease-out cursor-pointer
  }

  .btn.close{
    @apply hover:bg-red-900 hover:text-red-200
  }

  .btn.disabled {
    @apply bg-neutral-950 text-neutral-300 pointer-events-none
  }

  .btn.primary {
    @apply bg-blue-900 hover:bg-blue-600 outline-blue-400
  }

  .btn.success {
    @apply bg-green-800 hover:bg-green-600 outline-green-400
  }

  .btn.danger {
    @apply bg-red-800 hover:bg-red-600 outline-red-400
  }
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {

  .tip,
  .actions {
    display: none;
  }
}
